{% extends 'admin/dashnew.html'  %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

        <script>
        // Function to sort table rows based on the 'added' date
        function sortTable() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("work-table");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[0]; // Change 0 to the index of the column containing the 'added' date
                    y = rows[i + 1].getElementsByTagName("TD")[0]; // Change 0 to the index of the column containing the 'added' date
                    if (new Date(x.innerHTML) < new Date(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
        // Call the sortTable function when the page is fully loaded
        window.onload = sortTable;
    </script>
</head>

<body>
<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> View Allocated work Table</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                <form action="/myapp/viewallocatedwork_post/" method="POST" >
                {% csrf_token %}


                <table>
                    <tr>
                      <td>From&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input type="date" class="form-control"  name="fdate" required> </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input type="date" class="form-control" name="tdate" required> </td>

                        <td><button type="submit" class="btn btn-primary" name="search1" id="search" value="search">search</button>
                        </td>

                    </tr>
                    <br>
                </table>
                  <table class="table" id="work-table">
                    <tr class=" text-primary">
                      <th>
                        Slno
                      </th>
                      <th>
                        Work
                      </th>
                      <th>
                       Work Description
                      </th>
                        <th>
                            Employee
                      </th>
                        <th>
                           Status
                      </th>
                        <th>
                            Allocated Date
                      </th>
                        <th>
                       Dead line
                      </th>
                        <th>updates</th>

                      <th>&nbsp;</th>
                      <th>&nbsp;</th>

                    </tr>
                    {% for i in data %}
                    <tbody>
{#                      <>#}
                        <td>&nbsp;{{ forloop.counter }}</td>
                        <td>{{ i.WORK.work_tittle }}&nbsp;</td>
                        <td>{{ i.WORK.work_description }}</td>
                        <td>{{ i.EMPLOYEE.f_name }}</td>
                        <td></td>
                        <td>{{ i.allocated_date }}</td>
                        <td>{{ i.deadline }}</td>
                        <td>{{ i.description }}</td>


                        <td><a href="/myapp/editallocatedwork/{{ i.id }}#12"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
</svg></a></td>
                        <td><a href="/myapp/allocatedwork_delete/{{ i.id }}#12" onclick="return confirm('Are you sure you want to delete')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg></a></td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
</body>
</html>

{% endblock %}
