{% extends 'employee/empdash12.html'  %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>


</head>

<body>

<div class="col-xl-auto">
            <div class="card card-user">
              <div class="card-header">
                  <h3 class="card-title"><center>Change Password</center></h3>
              </div>
              <div class="card-body">
                <form action="/myapp/password_post/" method="POST" enctype="multipart/form-data" id="passwordChangeForm">
                    {% csrf_token %}

{#                  <div class="row">#}
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="cpassword" required  >
                          <div id="aa">
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" placeholder="New Password" name="password1" id="password" required  >
                      <div id="password_validation"></div>
                      </div>
                    </div>

                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword" id="password1" required  >
                      <div id="password_match"></div>
                      </div>
                    </div>
{#                  </div>#}

{#                  <div class="row">#}
{#                    <div class="col-md-6 pr-1">#}
{#                      <div class="form-group">#}
{#                        <label>Work Description</label>#}
{#                          <textarea class="form-control" row="3" cols="4" name="desc" required></textarea>#}
{#                      </div>#}
{#                    </div>#}
{#                    </div>#}


                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round" name="update" id="update" value="update">Update</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
   $(document).ready(function () {

           $("#update").hide();

           //email validation
           $("#cpassword").keyup(function () {
               var a = $("#cpassword").val();
               $.ajax({
                   url: '/myapp/passwordvali/',
                   method: 'POST',
                   data: {'password': a},
                   success: function (data) {
                       if (data.status === 'True') {
                           $("#update").show();
                           document.getElementById('aa').style.color='green'
                           document.getElementById('aa').textContent = 'Current password is Correct';
                       } else {
                           document.getElementById('aa').style.color='Red'
                           document.getElementById('aa').textContent = 'Current Password is Incorrect';

                           $("#update").hide();
                       }
                   }
               });
           });

      });

</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
   $(document).ready(function () {

       $("#update").hide();

       // Password confirmation
       $("#password1").keyup(function () {
           var newPassword = $("#password").val();
           var confirmPassword = $("#password1").val();

           if (newPassword === confirmPassword) {
               $("#password_match").text("Passwords match").css("color", "green");
                                          $("#update").prop("disabled", false);

           } else {
               $("#password_match").text("Passwords do not match").css("color", "red");
                                          $("#update").prop("disabled", true);

           }
       });

       // New password validation
       $("#password").keyup(function () {
           var newPassword = $("#password").val();
           // Add your password validation logic here

           // Example: Check if the password length is at least 8 characters
            var hasSpecialCharacter = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test(newPassword)
            var hasNumber = /\d+/.test(newPassword)
           if (newPassword.length >= 8 && hasSpecialCharacter && hasNumber ) {
               $("#password_validation").text("Password is valid").css("color", "green");
                           $("#update").prop("disabled", false);

           } else {
               $("#password_validation").text("Password must be at least 8 characters long and include special character and numbers").css("color", "red");
                           $("#update").prop("disabled", true);

           }
       });

   });
</script>



</body>
</html>
{% endblock %}
