<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Sovo</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/static/dashboard/assets/images/favicon.ico" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/static/dashboard/assets/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/static/dashboard/assets/css/all.css">

    <!--====== nice select css ======-->
    <link rel="stylesheet" href="/static/dashboard/static/dashboard/assets/css/nice-select.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/static/dashboard/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/static/dashboard/assets/css/style.css">


</head>

<body>

    <!--====== ERROR PART START ======-->

    <section class="error-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8">
                    <div class="login-box">
                        <div class="login-title text-center">
                            <img src="/static/dashboard/assets/images/logo-2.png" alt="logo">
                            <h3 class="title">Welcome to CellSecure!</h3>
                        </div>
                        <div class="login-input">
                            <form id="form1" name="form1" method="post" action="/myapp/respassword_post/">
                                {% csrf_token %}

                                <div class="input-box mt-10">
                                    <input type="text" name="usrname" placeholder="Email">
                                </div>




                                <div class="input-btn mt-10">
                                    <button class="main-btn" type="submit" name="reset" id="reset" value="reset">Reset  <i class="fal fa-arrow-right"></i></button>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="error-color">
            <img src="/assets/images/error-color.png" alt="color">
        </div>
        <div class="error-thumb">
             <img src="/static/dashboard/assets/images/login-singup.png" alt="">
        </div>
    </section>

    <!--====== ERROR PART ENDS ======-->


    <!--====== jquery js ======-->
    <script src="/static/dashboard/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/static/dashboard/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/static/dashboard/assets/js/bootstrap.min.js"></script>
    <script src="/static/dashboard/assets/js/popper.min.js"></script>

    <!--====== nice select js ======-->
    <script src="/static/dashboard/assets/js/jquery.nice-select.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="/static/dashboard/assets/js/jquery.syotimer.min.js"></script>

    <!--====== Main js ======-->
    <script src="/static/dashboard/assets/js/main.js"></script>

</body>

</html>
